@model MyMoviesMVC.ModelsDTO.Movie.MovieMainDTO;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ 
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
}

@section Style{ 
    <link href="~/css/Movies/Details/details.css" rel="stylesheet" type="text/css" />
}

<div id="movie-info">
    <img src="data:image/*;base64,@Model.Cover" alt="@Model.Title" />
    <h2 id="movie-title">@Model.Title</h2>
    <div id="genre">
        <h4 id="movie-genre">Genre:</h4> 
        <p>@Model.Genre</p>
    </div>
    <p>@Model.Description</p>
    @if (User.IsInRole("admin"))
     {
        <div id="movie-action">
            <a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a asp-controller="Movie" asp-action="Remove" asp-route-id="@Model.Id">Remove</a>
        </div>
     }
</div>